<!DOCTYPE html><!-- TODO - REmove focus from geeknizado -->
<html>

<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao Geeknizaado</title>
</head>

<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f4f4f4; padding: 20px;">
    <div style="background: white; padding: 20px; border-radius: 8px; max-width: 600px; margin: auto;">
        <h1 style="color: #00ddbf;">Bem-vindo ao Geeknizaado!</h1>
        <p>Olá, {{name}}!</p>
        <p>Estamos felizes em tê-lo(a) por aqui. Vamos auxiliar seu negócio {{bussinessName}} a crescer e facilitar os
            agendamentos!</p>
        <a href="https://geeknizaado.com.br"
            style="display: inline-block; background: #00ddbf; color: white; text-decoration: none; padding: 10px 20px; border-radius: 5px; margin-top: 15px;">
            Acessar Loja
        </a>
    </div>
</body>

</html>